* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(214, 203, 203);
}

span {
  border: 1px solid grey;
  border-radius: 10px;
  height: 50px;
  margin: 5px;
  width: 50px;
}

.app {
  display: grid;
  grid-template-columns: 1fr 250px 1fr;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.orange {
  background-color: orange;
}

.purple {
  background-color: purple;
}

.black {
  background-color: black;
}

.gray {
  background-color: gray;
}

.hidden {
  display: none;
}
