.response-bar {
  background-color: white;
  border-radius: 15px;
  -webkit-box-shadow: 10px 10px 33px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 33px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 33px 0px rgba(0, 0, 0, 0.75);
  display: grid;
  grid-row: 2;
  grid-template-columns: repeat(2, 1fr);
  margin: 20px 20px 0 auto;
  padding: 5px;
  width: 40px;
}

.response {
  border: 1px solid black;
  height: 8px;
  margin: auto;
  width: 8px;
}
